div{
	background-color: #bff688}
p{
	color: #443c3c}
.header{
	background: url(Forest.jpeg);
	background-size: cover; min-height: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	margin: 20px;
	
}